# https://github.com/42wim/matterbridge/wiki/Gateway-config-%28basic%29#environment-variables
MATTERBRIDGE_MATTERMOST_BETAGOUV_SERVER=
MATTERBRIDGE_MATTERMOST_BETAGOUV_TEAM=
MATTERBRIDGE_MATTERMOST_BETAGOUV_TOKEN=
MATTERBRIDGE_SLACK_ITOU_TOKEN=
